

.container {
    padding: 1px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 50px;
}

.container .item {
    border: 1px solid red;
    height: 200px;
    width: 150px;
    align-content:center;
    text-align: center;
    overflow: hidden;
}

.container .item:hover {
    cursor: pointer;
    background-color: #555;
}

.container .item .icon {
    align-content: center;
    height: 200px;
    width: 150px;
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;
}

.container .item .icon:hover {
    transform: scale(1.25);
}
